body {
  font-family: sans-serif;
}

header, #aside-nav, #dashboard-header, #list-todos > li {
  padding: 1rem;
}

header, #content, #dashboard-header, #form-create-todo {
  border-bottom: 2px solid black;
}

#content {
  display: flex;
}

#aside-nav {
  border-right: 2px solid black;
}

#dashboard {
  flex: 1;
}

#dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form-create-todo {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 50% 50%;
}

#list-todos > li {
  margin-bottom: .5rem;
}

#list-todos > li:last-of-type {
  margin-bottom: 0;
}

#list-todos > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-information {
  display: flex;
  flex-direction: column;
}

.todo-title {
  font-size: 1.15rem;
  font-weight: 700;
}

.todo-description {
  font-size: .85rem;
  color: aquamarine;
}

.list-buttons {
  display: flex;
  align-items: center;
}

.list-buttons > li {
  margin-left: .5rem;
}

