body {
  font-family: sans-serif;
}

.hide {
  display: none !important;
}

#btn-create-todo, #button-submit, .btn-todo {
  cursor: pointer;
}

header, #aside-nav, #dashboard-header, #list-todos > li {
  padding: 1rem;
}

header, #content {
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

#content {
  display: flex;
}

#aside-nav {
  border-right: 2px solid hsl(0, 0%, 0%);
}

#dashboard {
  flex: 1;
}

#dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#div-form {
  border-top: 2px solid hsl(0, 0%, 0%);
  padding: 1rem;
}

#div-form > h2 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

#form-create-edit-todo {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 50% 50%;
}

#button-submit {
  padding: 1rem;
  border: 2px solid hsl(0, 0%, 0%);
  background-color: hsl(160, 100%, 75%);
}

#list-todos > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

#list-todos > li:first-of-type {
  border-top: 2px solid hsl(0, 0%, 0%);
}

#list-todos > li:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

.todo-information {
  display: flex;
  flex-direction: column;
}

.todo-title {
  font-size: 1.15rem;
  font-weight: 700;
}

.todo-description {
  font-size: .85rem;
  color: hsl(160, 100%, 75%);
}

.list-buttons {
  display: flex;
  align-items: center;
}

.list-buttons > li {
  margin-left: .5rem;
}