body {
  font-family: sans-serif;
}

.hide {
  display: none !important;
}

#btn-create-todo, #button-submit, .btn-todo {
  cursor: pointer;
}

header, #aside-nav, #dashboard-header, #list-todos > li {
  padding: 1rem;
}

header, #content {
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

#content {
  display: flex;
}

#aside-nav {
  border-right: 2px solid hsl(0, 0%, 0%);
}

#dashboard {
  flex: 1;
}

#dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dashboard-header > span {
  font-size: 1.5rem;
  font-weight: 700;
}

#div-form {
  border-top: 2px solid hsl(0, 0%, 0%);
  padding: 1rem;
}

#div-form > h2 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

#form-create-edit-todo {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 50% 50%;
  gap: 1rem 0;
}

#form-create-edit-todo > label {
  font-weight: 700;
}

#form-create-edit-todo > input, #form-create-edit-todo > select, #form-create-edit-todo > textarea {
  padding: .75rem 1rem;
  border: 2px solid hsl(300, 100%, 25%);
  border-radius: 4px;
}

#button-submit {
  padding: .75rem 1.5rem;
  grid-column: 1 / 3;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  border: 2px solid hsl(300, 100%, 25%);
  border-radius: 4px;
  background-color: hsl(300, 100%, 25%);
  color: hsl(0, 0%, 100%);
}

#list-todos > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

#list-todos > li:first-of-type {
  border-top: 2px solid hsl(0, 0%, 0%);
}

#list-todos > li:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

.todo-information {
  display: flex;
  flex-direction: column;
}

.todo-title {
  font-size: 1.15rem;
  font-weight: 700;
}

.todo-description {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(300, 100%, 25%);
}

.list-buttons {
  display: flex;
  align-items: center;
}

.list-buttons > li {
  margin-left: .5rem;
}

#list-todos > li.open > .todo-information, #list-todos > li.open > .list-buttons {
  margin-bottom: 1rem;
}

.todo-details {
  flex: 1 100%;
}

.list-details > li {
  margin-bottom: .5rem;
}

.list-details > li > b {
  font-weight: 700;
}

/* Active States */
#btn-create-todo:hover > svg > path {
  fill: hsl(300, 100%, 25%);
}

#button-submit:hover {
  color: hsl(300, 100%, 25%);
  background-color: hsl(0, 0%, 100%);
}